extends ./layouts/base.pug

block content
    .content
        .container
            .subtitle-3.bg-grad-blue.center
                span WHO WE ARE
            .bg-white-smoke
                .text-2
                .people
                    .person
                        .service-title Elizabeth Uwalaka
                        img.person-img(
                            src="/images/people/elizabeth.jpg"
                            alt="Elizabeth"
                        )
                    .person
                        .service-title Aishah Bilal
                        img.person-img(
                            src="/images/people/aishah.jpg"
                            alt="Aishah"
                        )
                .text-2.center.
                    At its helm, Gingerbread Property Solutions Limited 
                    has two Directors, Aishah Bilal and Elizabeth Uwalaka 
                    who both are trained experienced educationalists with 
                    backgrounds in teaching literature, linguistics and 
                    modern foreign languages as well as roles in industry 
                    for well-known national and multi-national corporations. 
                .text-2.center.
                    Between them, their professional property 
                    education, skills, and experience in addition to 
                    their time in industry and education, and as parents, 
                    amounts to more than 40 years’ worth. 
                    With a wide cross-section of facets, 
                    the transition to property was uncomplicated, 
                    and it is a field through which both Directors 
                    are deepening and broadening their skillsets.
                hr.fancy-hr.opacity-6
                .text-2
            .subtitle-3.bg-grad-blue-2.center
                span OUR STORY
            .bg-white-smoke.center
                .text-2.
                    Founded in 2014, Gingerbread Property Solutions Limited 
                    are a property management company based in London UK, 
                    one of the world’s busiest cities for commerce, 
                    trade and business opportunities.
                .text-2.
                    Our mission is to operate with transparency and fairness 
                    in provision for and shared vision with all our associates 
                    whether they are fellow property management 
                    companies, agents, landlords or tenants. 
                    Profit is not a central objective, as we primarily 
                    establish ways to give back to society by charitable 
                    means by endorsing and supporting organisations such as 
                    The Hunger Project, The Passage and St Mungo’s Homeless Charity.
                .text-2.
                    Landlords often pay substantial amounts when setting up a tenancy, 
                    so we not only provide rent guarantees, 
                    but also absorb costly administrative fees.  
                    We are personable with a personal touch, 
                    so you can be sure to approach us and 
                    check out how we can be of service to you today.
                hr.fancy-hr.opacity-6
                .text-2.
                    The following are links to descriptions of our services:
                .text-2
            include ./includes/_service-links.pug
            hr.fancy-hr.opacity-6
