doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{company} | Contact
        link(rel="stylesheet" href="/css/styles.css")
    body
        .navbar
            .navlogo Gingerbread
            .navbar__item About
            .navbar__item Contact
            .navbar__item Services
            .navbar__item Portfolio
        h1 contact

