extends ./layouts/base.pug

block content
    .content
        .container
            .subtitle-3.bg-grad-blue.center CONTACT US
            .bg-white-smoke.center
                .text-2
                include ./includes/_social.pug
                .text-2
            hr.fancy-hr.opacity-6
