extends ./layouts/base.pug

block content
    .content
        .container
            .subtitle-3.bg-grad-blue.center
                span Gingerbread Property Solutions
                span Welcomes You
            .bg-white-smoke.center
                .text-2.
                    "Every home is unique with different sizes, colours and styles. 
                    They have comfort in common.
                    Gingerbread Property Solutions Limited makes ‘Home Sweet Home’ 
                    a reality and not just a saying. Near or far, 
                    you’ll feel at home with us."
                hr.fancy-hr.opacity-6
                .text-2.
                    "We pride ourselves on working alongside fellow professionals 
                    who know what success looks like and how to reflect it in 
                    every dimension of what we do. 
                    Contact us today if you want to feature or 
                    share your successes with us."
                .text-2
            .subtitle-3.bg-grad-blue-2.center
                span WHAT WE DO
            .bg-white-smoke.center
                .text-2.
                    Sustainable property let, purchase, 
                    Investment and maintenance solutions in the UK. 
                    Open to enquiries from homeowners & landlords & international clients.
                .text-2
            include ./includes/service-links.pug
            hr.fancy-hr.opacity-6
