extends ./layouts/base.pug

block content
    .content
        .container
            .subtitle-3.bg-grad-blue.center
                span WHAT WE'VE DONE
            .bg-white-smoke.center
                .text-2.
                    In the past two years, we have been working with 
                    investors and landlords managing their properties. 
                    We offer landlords a guaranteed rent and fully managed 
                    professional HMO service. Due to high demand from our 
                    professional tenants we are looking to rent whole 
                    properties in your  area on a business lease. 
                    Our intention is to build a profitable business. 
                    It is not within our interest to cut you out of a 
                    deal as you have a vast amount of properties and 
                    I want to help you rent them.
                .text-2.
                    We believe in operating with complete transparency 
                    and to that end we add letting agents onto the 
                    management contract as well as the landlord, 
                    which outlines everyone’s responsibilities, 
                    and legally protects all parties.
                hr.fancy-hr.opacity-6
                .text-2
            hr.fancy-hr.opacity-6  
