extends ./layouts/base.pug

block content
    .content
        .container
            .subtitle-3.bg-grad-blue.center
                span WHAT WE OFFER
            .bg-white-smoke.justify-content-center
                .text-2
                #landlords.service-item
                    img.p-4.service-img(src="/images/repairs.jpg")
                    .service-text
                        .service-title LANDLORDS
                        .service-description.left.
                            We find you tenants and help with referencing, 
                            contracts and more if you need it.
                            Gingerbread Property Solutions Limited 
                            gives you the best possible chance of 
                            finding your ideal tenant, and you stay in control.
                        .service-description
                            .left • First listing 100% free
                            .left • No Hidden Fees
                            .left • No Renewal Fees
                            .left • No Credit Card to Get Started
                #tenants.service-item
                    img.p-4.service-img(src="/images/rentals.jpg")
                    .service-text
                        .service-title TENANTS
                        .service-description.left.
                            With Gingerbread Property Solutions Limited, 
                            there are never any admin fees. Ever. 
                            We take down listings as soon as they are let, 
                            so no wasting time chasing adverts. 
                            And we'll protect your deposit and rent money. 
                        .service-description
                            .left • No Admin Fees
                            .left • No Dead Listings
                            .left • Rent & Deposit Protected
                #investors.service-item
                    img.p-4.service-img(src="/images/architecture.jpg")
                    .service-text
                        .service-title INVESTORS
                        .service-description.left.
                            Whether looking to rent or to buy, 
                            Gingerbread Property Solutions Limited offers the 
                            opportunity to get a property portfolio off the ground, 
                            or the options to be part of maintaining an existing one.
                        .service-description.left.
                            Contact us for a special invitation to one of our 
                            ‘Investors-Only’ events or request access to the 
                            ‘Gingerbread Property Solutions Limited Investors’ Pack’.
            .subtitle-3.bg-grad-blue-2.center
                span ADDITIONAL SERVICES
            .bg-white-smoke.justify-content-center
                .text-2.center.
                    • We normally decorate and furnish properties 
                    at our own cost (with landlord's permission).
                .text-2.center.
                    • We cover all the maintenance on the property 
                    (excluding structural issues).
                .text-2.center.
                    • We conduct weekly house inspections and comply 
                    with Council’s HMO rules and regulations
                hr.fancy-hr.opacity-6
                .text-2
            hr.fancy-hr.opacity-6
