:root {
    --dark-orange: #f66801;
    --dark-orange-rgb: 247, 134, 32;
    --deep-sky-blue: #09afe9;
    --deep-sky-blue-rgb: 9, 175, 233;
    --dark-grey: #333333;
    --dark-grey-rgb: 51, 51, 51;
    --white-smoke: #f2f2f2;
}

body {
    font-family: 'Arial';
}

.opacity-6 {
    opacity: 0.6;
}
.opacity-8 {
    opacity: 0.8;
}
.opacity-9 {
    opacity: 0.9;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}
