.content {
    background-image: url("/images/content-bg-full.png");
    background-size: cover;
    height: 100%;
}

.container {
    /* background-color: var(--white-smoke); */
    display: flex;
    flex-direction: column;
    padding: 0;
    width: calc(100% - 50px);
}

.container * {
    display: block;
}

.subtitle-1 {
    color: var(--dark-grey);
    font-size: 2em;
    font-weight: 600;
}
.subtitle-2 {
    color: var(--dark-grey);
    font-size: 1.5em;
}
.subtitle-3 {
    color: var(--dark-grey);
    font-size: 1.8em;
    font-weight: 600;
    padding: 1em;
}

.text {
    font-size: 1em;
}
.text-2 {
    font-size: 1em;
    padding: 3em 4em 0 4em;
}
.text-3 {
    font-size: 1.5em;
    padding: 1.5em 4em 0 4em;
}

.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}

.fancy-hr {
    align-self: center;
    background-color: var(--dark-grey);
    border: none;
    display: block;
    height: 2px;
    margin: 0;
    margin-top: 2em;
    padding: 0;
    width: 25%;
}

.bg-grad-blue {
    background: linear-gradient(
        to right,
        rgba(255,255,255,0.7),
        rgba(var(--deep-sky-blue-rgb), 0.6)
    );
    width: 100%;
}

.bg-grad-blue-2 {
    background: linear-gradient(
        to right,
        rgba(var(--deep-sky-blue-rgb), 0.6),
        rgba(255,255,255,0.7)
    );
    width: 100%;
}

.bg-white-smoke {
    background: var(--white-smoke);
    width: 100%;
    display: flex;
    flex-direction: column;
}


.service {
    color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    transition: 0.25s;
}
.service:hover {
    color: var(--deep-sky-blue);
    text-decoration: none;
    transition: 0.25s;
}

.service-img {
    display: block;
    text-decoration: none;    
    height: 250px;
    width: 250px;
    filter: drop-shadow(2px 2px 4px var(--dark-grey));
    -webkit-filter: drop-shadow(2px 2px 4px var(--dark-grey));
    transition: 0.25s;
}
.service-img:hover {
    -webkit-filter: drop-shadow(4px 4px 8px var(--dark-grey));
    filter: drop-shadow(4px 4px 8px var(--dark-grey));
    transition: 0.25s;
}

.service-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3em;
}
@media screen and (max-width: 600px) {
    .service-item {
        flex-wrap: wrap;
    }
}
.service-text {
    color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.service-title {
    display: block;
    font-size: 1.25em;
    font-weight: 600;
    text-align: center;
}
.service-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1em;
    margin: auto;
    width: 70%;
    word-wrap: break-word;
}

.people {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.person {
    color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.person-img {
    display: block;
    text-decoration: none;    
    filter: drop-shadow(2px 2px 4px var(--dark-grey));
    -webkit-filter: drop-shadow(2px 2px 4px var(--dark-grey));
    transition: 0.25s;
}

.person-text {
    font-size: 20px;
    overflow: hidden;
    text-align: center;
    display: block;
}

