.review {
    color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.review-name {
    display: block;
    font-size: 1.25em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}
.review-comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1em;
    margin: auto;
    width: 70%;
    word-wrap: break-word;
}
