.header
    .header__brand
        a(href="/")
            img(
                src="/images/logo-trans-180x180.png"
                alt="Gingerbread Property Solutions"
                height="auto"
                width="auto"
            )
    .header__nav
        .nav-overlay
        .nav-items
            a.nav-item(href="/about") About
            .nav-item-divider |
            a.nav-item(href="/contact") Contact
            .nav-item-divider |
            a.nav-item(href="/services") Services
            .nav-item-divider |
            a.nav-item(href="/reviews") Reviews
        
