ul.social-group
    li.social
        img.social-icon(src="/images/icons/gmap-trans.png", alt="Address")
        .social-text 86-90 Paul Street London, United Kingdom
    li.social
        img.social-icon(src="/images/icons/phone-green.png" alt="Phone")
        .social-text +44 333 567 2306
    li
        a.social(
            href="https://www.facebook.com/gingerbreadpropertysolutionslimited/"
            target="_blank"
        )
            img.social-icon(src="/images/icons/fb-like.png" alt="Facebook")
            .social-text Message us on Facebook
