.footer
    - var year = new Date().getFullYear()
    .footer-nav-items
        a.nav-item(href="/") Home
        .nav-item-divider |
        a.nav-item(href="/about") About
        .nav-item-divider |
        a.nav-item(href="/contact") Contact
        .nav-item-divider |
        a.nav-item(href="/services") Services
        .nav-item-divider |
        a.nav-item(href="/portfolio") Portfolio
    
    .contact 86-90 Paul Street London, United Kingdom
    .contact +44 333 567 2306
    a.contact(href="https://www.facebook.com/gingerbreadpropertysolutionslimited/" target="_blank") Facebook Page
    br
        
    a#privacy-policy(href="/privacy-policy") Privacy Policy
    a#terms-and-conditions(href='/docs/GPS-Terms-and-Conditions.docx', download) Terms and Conditions (Download)
    #copyright Copyright © #{year} GingerbreadPropertySolutions.com
