.d-sm-flex.flex-row.bg-white-smoke.flex-wrap.justify-content-center
    a.service(href="/services")
        .service-text RENTALS
        img.p-4.service-img(src="/images/rentals.jpg")
    a.service(href="/services")
        .service-text MAINTENANCE
        img.p-4.service-img(src="/images/maintenance.jpg")
    a.service(href="/services")
        .service-text ARCHITECTURE
        img.p-4.service-img(src="/images/architecture.jpg")
    a.service(href="/services")
        .service-text REPAIRS
        img.p-4.service-img(src="/images/repairs.jpg")
    a.service(href="/services")
        .service-text PLUMMING
        img.p-4.service-img(src="/images/plumming.jpg")
